build-*/
*.tar.gz
*.tar.bz2
*.tar.xz
Python-*/
binutils-*/
gcc-*/
gdb-*/
gmp-*/
isl-*/
mpc-*/
mpfr-*/
newlib-*/
scripts/standalone-main
scripts/standalone-start
scripts/hello
scripts/hello-cxx
scripts/*.o
